*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px;
    border-radius: 100px;
    border: 1px solid black;
    width: auto;
    height: auto;
}
div{
    width: 500px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid black;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.diez{
    display: inline-block;
    width: 100px;
    background-color: red;
    border-radius: 100px;
    height: 30px;
    
}
.veinte{
    display: inline-block;
    width: 200px;
    background-color:yellow;
    border-radius: 100px;
    height: 30px;

}
.cincuenta{
    display: inline-block;
    width: 250px;
    background-color:rgb(223, 247, 9);
    border-radius: 100px;
    height: 30px;
    

}
.setenta{
    display: inline-block;
    width: 300px;
    background-color:rgb(209, 231, 12);
    border-radius: 100px;
    height: 30px;

}
.noventa{
    display: inline-block;
    width: 350px;
    background-color:rgb(223, 247, 9);
    border-radius: 100px;
    height: 30px;
}